<div class="row">
  <div class="col-md-6">
    <h5>October 7</h5>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>02:00PM</td>  <td><a href="">Introduction to working with qualitative data</a></td> </tr>
      <tr> <td>03:00PM</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h5>October 14</h5>
    <table class="table table-striped">
      <tr> <td>02:00PM</td>  <td><a href="https://librarycarpentry.github.io/lc-qualitative-taguette/index.html">Open qualitative research with Taguette</a></td> </tr>
      <tr> <td>03:30PM</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h5>October 21</h5>
    <table class="table table-striped">
      <tr> <td>02:00PM</td>  <td><a href="https://librarycarpentry.github.io/lc-qualitative-qualcoder/index.html">Open qualitative research with QualCoder</a></td> </tr>
      <tr> <td>04:30PM</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
