<div id="Introduction to working with qualitative data-setup">
  <h3>Introduction to working with qualitative data</h3>
  <p>
    There is no setup or tools needed for the Introduction to working with qualitative data workshop.
  </p>
</div>

<div id="Open qualitative research with Taguette-setup">
  <h3>Open qualitative research with Taguette</h3>
  <p>
    For the Open qualitative research with Taguette workshop we will be using a free and open-source qualitative data analysis (QDA) tool called Taguette. Taguette helps researchers organize, annotate, and code textual documents. The setup instuctions and the data for this episode can be found <a href="https://librarycarpentry.github.io/lc-qualitative-taguette/instructor/index.html#setup">here</a>.
  </p>
</div>

<div id="Open qualitative research with QualCoder-setup">
  <h3>Open qualitative research with QualCoder</h3>
  <p>
    For the Open qualitative research with QualCoder workshop we will be using a free and open-source qualitative data analysis (QDA) tool called QualCoder. QualCoder helps organize, code, and analyze unstructured information such as text documents, images, audio, and video. The setup instuctions and the data for this episode can be found <a href="https://librarycarpentry.github.io/lc-qualitative-qualcoder/instructor/index.html#setup">here</a>.
  </p>
</div>
