<p id="who">
  The course is aimed at anyone who works with or are planning to work with qualitative data. It is free and open to the public. 
  <strong>
    You don't need to have any previous knowledge of the tools that
    will be presented at the workshop.
  </strong>
</p>
<p id="what">
  This is a series of Carpentries workshops put on by members of the Northeast Carpentries Community happening Wednesday afternoons in October that aims to teach participants basic concepts, skills, and two tools for working with qualitative data: Taguette and QualCoder.
</p>
